.counter {
  width: 11.25rem;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.counter-input {
  outline: none;
  width: 3.75rem;
  height: 3.375rem;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  background-color: #fbe8e8;
  color: #b24242;
  border-top: 1px solid #b24242;
  border-bottom: 1px solid #b24242;
  font-weight: 900;
  font-size: 1.3125rem;
  font-family: Avenir;
}
