.operator {
  width: 60px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  cursor: pointer;
  font-size: 21px;
}

.counter .add {
  background-color: #b24242;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.counter .substract {
  background-color: #fff;
  color: #b24242;
  background-color: #fff;
  border: 1px solid #b24242;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
